* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* ----------------------default------------------------ */

/* ----------------------end default-------------------- */
/* ----------------------task 1------------------------- */
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

#categories {
  width: 392px;
  color: #2e2f42;
  padding: 24px;
  margin-left: auto;
  margin-right: auto;
}

#categories h2 {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
}

.item li {
  border-radius: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 8px;
}

.item ul li:last-child {
  margin-bottom: 0;
}

.item {
  padding: 16px;
  margin-bottom: 24px;
  background-color: #f6f6fe;
  border-radius: 8px;
  width: 392px;
}
/* ----------------------end task 1--------------------- */
/* ------------------------task 2----------------------- */

img {
  display: block;
}

.gallery {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.gallery-image {
  max-width: 360px;
  height: 300px;
  object-fit: cover;
}
/* ----------------------end task 2--------------------- */
/* -----------------------task 3------------------------ */

#name-input {
  display: block;
  border: 1px solid #2e2f42;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 360px;
  height: 40px;
  border-radius: 8px;
  padding-left: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 16px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
}

/* ----------------------end task 3--------------------- */
/* ------------------------task 4----------------------- */

.login-form {
  display: flex;
  flex-direction: column;
  padding: 24px;
  width: 408px;
  margin-left: auto;
  margin-right: auto;
}

.login-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.login-form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 16px;
}

.login-form label:last-of-type {
  margin-bottom: 16px;
}

.login-form button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
}
/* ----------------------end task 4--------------------- */
/* ---------------------- task 5 ----------------------- */

.widget {
  margin-top: 100px;
  width: 260px;
  padding: 10px;
  padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  background-color: #ffffff;
}

.widget p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.change-color {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background-color: #4e75ff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  border: none;
}
/* ----------------------end task 5--------------------- */
/* -----------------------task 6------------------------ */
#controls {
  display: flex;
  flex-direction: raw;
  border-radius: 8px;
  padding: 32px;
  width: 486px;
  padding: 32px;
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f6f6fe;
}

#controls input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 8px;
  padding-left: 72px;
  width: 150px;
  height: 40px;
}

#controls button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4e75ff;
  border-radius: 8px;
  padding-block: 8px;
  padding-inline: 16px;
  width: 120px;
  height: 40px;
  border: none;
}

#controls button:last-child {
  background: #ff4e4e;
}

#boxes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 44px;
}

/* ----------------------end task 6--------------------- */
